
<ion-header slot="fixed" style="background-color: teal;">

 
    <ion-title style="padding: 20px">
      Job Tracker
    </ion-title>


  <ion-segment value="freq">
    <ion-segment-button value="week">
      <ion-label style="color: white;">Over Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label style="color: white;">Over Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="year">
      <ion-label style="color: white;">Over Year</ion-label>
    </ion-segment-button>
  </ion-segment>
  <x-chartist [type]="type" [data]="data" [options]="options" [events]="events"></x-chartist>

</ion-header>
<ion-content> 

  <ion-list>
    <ion-item *ngFor="let res of [1,2,3,4,5,6,7]" style="border-width: 0px;">
      <ion-card style="width: 100%;">
        <ion-item>
          <ion-avatar style="width: 20px; height: 20px; margin-right: 10px;">
            <img src="//logo.clearbit.com/apple.com">
          </ion-avatar>
          <ion-label>Apple</ion-label>
          <ion-label slot="end" style="text-align: right; font-size: smaller; color: gray;">3w</ion-label>
        </ion-item>
      
        <ion-card-content>
          Full Stack developer 
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>